<button type="button" class="close" ng-click="cancel();"><i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i></button><div class="modal-header"><h3 class="modal-title">Followup Details</h3></div>

<div class="modal-body">
    

                
           <label class="control-label">Date of Followup: </label>
            <!--input type="text" class="form-control" ng-model="newFollowup.dof | date" name="dof" ></input-->
    <p class="form-control">{{newFollowup.dof | date}}</p>

            <label class="control-label">Observation Details: </label>
    <p class="form-control-static">{{newFollowup.observations}}</p>
            <!--textarea class="form-control" ng-model="newFollowup.observations"  name="observations" placeholder="Observation Details" readonly="true"></textarea-->
            <!--input type="date" class="form-control" ng-model="newFollowup.donf" name="donf" ></input-->
            <label class="control-label">Fee Amount: </label>
    <p class="form-control">{{newFollowup.fee}}</p>
    

            <!--input type="text" class="form-control inline" ng-model="newFollowup.fee" name="fee" placeholder="Fee Amount" readonly="true"> </input-->
    <div ng-show="moreDetailsRO">    
    <label class="control-label">Complexion: </label>
<p class="form-control">{{newFollowup.otherDetails.complexion}}</p>
        <!--input type="text" class="form-control" ng-model="newFollowup.otherDetails.complexion" name="complexion" placeholder="Complexion"> </input-->
        <label class="control-label">Thrist/Tounge: </label>
    <p class="form-control">{{newFollowup.otherDetails.thirst}}</p>
        <!--input type="text" class="form-control" ng-model="newFollowup.otherDetails.thirst" name="thirt" placeholder="Thrist/Tounge"> </input-->
        <label class="control-label">Aversion/Acidity/Desire: </label>
    <p class="form-control">{{newFollowup.otherDetails.desire}}</p>
        <!--input type="text" class="form-control" ng-model="newFollowup.otherDetails.desire" name="desire" placeholder="Aversion/Acidity/Desire"> </input-->
        <label class="control-label">Bowel/Mict: </label>
    <p class="form-control">{{newFollowup.otherDetails.bowel}}</p>
        <!--input type="text" class="form-control" ng-model="newFollowup.otherDetails.bowel" name="bowel" placeholder="Bowel/Mict"> </input-->
        <label class="control-label">Sleep/Dreams: </label>
    <p class="form-control">{{newFollowup.otherDetails.sleep}}</p>
        <!--input type="text" class="form-control" ng-model="newFollowup.otherDetails.sleep" name="sleep" placeholder="Sleep/Dreams"> </input-->
        <label class="control-label">Palms/Nails: </label>
    <p class="form-control">{{newFollowup.otherDetails.palms}}</p>
        <!--input type="text" class="form-control" ng-model="newFollowup.otherDetails.palms" name="palms" placeholder="Palms/Nails"> </input-->
    <label class="control-label">Wart/Moles: </label>
    <p class="form-control">{{newFollowup.otherDetails.warts}}</p>
    <label class="control-label">Nose/Throat: </label>
    <p class="form-control">{{newFollowup.otherDetails.nose}}</p>
    <label class="control-label">Sole of feet/Lat. Mall: </label>
    <p class="form-control">{{newFollowup.otherDetails.feetsole}}</p>
    <label class="control-label">Corns: </label>
    <p class="form-control">{{newFollowup.otherDetails.corns}}</p>
    <label class="control-label">Ear festers: </label>
    <p class="form-control">{{newFollowup.otherDetails.festers}}</p>
    <label class="control-label">Anger/Consolation: </label>
    <p class="form-control">{{newFollowup.otherDetails.anger}}</p>
    <label class="control-label">LM/Constipation during MC: </label>
    <p class="form-control">{{newFollowup.otherDetails.constipation}}</p>
    <label class="control-label">H/O major illness: </label>
    <p class="form-control">{{newFollowup.otherDetails.majorillness}}</p>
      
           

    <div class="form-group">
        <label class="control-label">Taste:</label>
        <tastes ng-repeat="taste in newFollowup.otherDetails.tastes">
          <label class="label-value">{{taste}}</label>
        </tastes>
    </div>
    <div class="form-group">
        <label class="control-label">Sun heat aagevation:</label>
    	<heataggrs ng-repeat="heat in newFollowup.otherDetails.heataggrs">
          <label  class="label-value">{{heat}}</label>
        </heataggrs>
    </div>
    <div class="form-group">
        <label class="control-label">Skin:</label>
    	<skins ng-repeat="skin in newFollowup.otherDetails.skins">
          <label class="label-value">{{skin}}</label>
        </skins>
    </div>
    
    
    <div class="form-group">
        <label class="control-label">Miastmatic:</label>
        <miastmatic ng-repeat="taste in newFollowup.otherDetails.miastmatic">
          <label class="label-value">{{taste}}</label>
        </tastes>
    </div>
    <div class="form-group">
        <label class="control-label">Menstrual:</label>
    	<menstrual ng-repeat="heat in newFollowup.otherDetails.menstrual">
          <label  class="label-value">{{heat}}</label>
        </heataggrs>
    </div>
    <div class="form-group">
        <label class="control-label">Leucorrhoea:</label>
    	<leucorrhoea ng-repeat="skin in newFollowup.otherDetails.leucorrhoea">
          <label class="label-value">{{skin}}</label>
        </skins>
    </div>
    <div class="form-group">
        <label class="control-label">Breastpain:</label>
        <breastpain ng-repeat="skin in newFollowup.otherDetails.breastpain">
          <label class="label-value">{{skin}}</label>
        </skins>
    </div>
    
    <div class="form-group">
        <label class="control-label">Emotions:</label>
        <label class="label-value">{{newFollowup.otherDetails.emotions}}</label>
        </skins>
    </div>
    <div class="form-group">
        <label class="control-label">Confidence:</label>
        <label class="label-value">{{newFollowup.otherDetails.confidence}}</label>
        </skins>
    </div>
    <div class="form-group">
        <label class="control-label">IDDM:</label>
        <label class="label-value">{{newFollowup.otherDetails.iddm}}</label>
        </skins>
    </div>
    <div class="form-group">
        <label class="control-label">H1:</label>
        <label class="label-value">{{newFollowup.otherDetails.h1}}</label>
        </skins>
    </div>
    <div class="form-group">
        <label class="control-label">Thyroid:</label>
        <label class="label-value">{{newFollowup.otherDetails.thyroid}}</label>
        </skins>
    </div>
    
</div>
<a href="#" ng-click="moreDetailsRO=!moreDetailsRO;"><i class="fa fa-chevron-down pull-right" title="Expand" ng-if="!moreDetailsRO"></i></a>
        <a href="#" ng-click="moreDetailsRO=!moreDetailsRO;"><i class="fa fa-chevron-up pull-right" title="Collapse" ng-if="moreDetailsRO"></i></a>
</div>
    
</div>
   
    
 


   
    
    