<div ng-controller="PatientDetailsCtrl">
	<a class="fa fa-backward" href="#/patients/searchResults"></a>
    
    
    <div class="pull-right">
    <a class="fa fa-plus" ng-click="toggleAddRow()"></a></td>
    </div>
	
    <h1>{{patient.lname}}, {{patient.fname}}</h1>
    
		<hr>

<div class="col-md-9">
	<div class="table-responsive">
		<table class="table table-striped" >
              <thead>
                
                  <th>Followup Date</th>
                  <th>Last Observation</th>
                  <th>Fee</th>
                  
            </thead>
              <tbody>
                <tr dir-paginate="followup in patient.followupDetails | itemsPerPage: pageSize" current-page="currentPage">
                  
                  <td style="width: 25%">{{followup.dof | date}}</td>
                    <td style="width: 65%">{{followup.observations | limitTo: 5}}<a href="" ng-show="followup.observations .length > 5" ng-click="open(followup)">...</a></td>
                    <td style="width: 10%">{{followup.fee}}</td>
                    </tr>
                </tbody>
            
            <div ng-include src="'../views/followup-details.view.html'" ng-show="addRow"></div>      
        </table>
    <div ng-controller="OtherController" class="other-controller">
              <div class="text-right">
              <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
    </div>

			
	</div>

	<div class="actions">
		<a href="#/patients/edit/{{patient._id}}" class="fa fa-edit"></a>
		<a href="#/patients" class="fa fa-minus" ng-click="removePatient()"></a>
	</div>

	
</div>
    <div class="col-md-3 pull-right" >
       
            <li ng-repeat="report in availableReports"><a target="_blank" href="" ng-click="getFile(report)">{{report.filename}}</a></li>
        <hr/>
        
        <input type="file" file-model="myFile" name="filefield"/> 
        
        <a class="btn-sm btn-primary pull-right" ng-click="uploadFile()" >Upload</a>
        

    </div>
</div>
